@use '../bases/variables' as *;

main {
    .titulo {
        font-family: $fuente-principal;
        color: $color-titulo;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 20px;
        background-color: #cccccc7e;

        .puesto {
        background-color: #b8cb7e;
        padding: 20px;
        border: 1px solid #32452a;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(69, 7, 7);
        font-family: $fuente-principal;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }
        }

        .explicacion {
        margin: 5%;
        font-size: 15px;
        color: rgba(23, 9, 9, 0.945);
        padding: 10px;
        font-family: $fuente-principal;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        background-color: #93732f;
        }

        .foto {
        width: 100%;
        max-width: 320px;
        height: auto;
        display: block;
        margin: 1rem auto;
        }
    }

    .subtitulo {
        margin: 10% 30% 5% 40%;
        font-family: $fuente-principal;
        font-style: italic;
        font-weight: bold;
        font-size: 40px;
        color: $color-titulo;
        text-decoration: none;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

        .animate_animated.animate_pulse {
        animation-duration: 2s;
        animation-iteration-count: infinite;
        }
    }

    .texto {
        margin: 5% 15%;
        background-color: #e7d4d0cc;
        text-align: center;
        font-weight: 10px;
        font-size: 15px;
        border-style: groove;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    }

    form {
        margin-top: 5%;
        margin-bottom: 30px;
        padding: 10px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff8e1;
        border-radius: 10px;
        text-align: center;

        label {
        padding: 10px;
        margin: 12px;
        border: 1px solid #211911;
        border-radius: 5px;
        font-size: 15px;
        font-family: $fuente-principal;
        text-align: center;
        }

        input {
        font-family: $fuente-principal;
        padding: 3px;
        font-size: large;
        border-radius: 10px;
        text-align: center;
        }

        select {
        padding: 5px;
        border: 2px solid #5a291f;
        border-radius: 5px;
        font-size: 18px;
        font-family: $fuente-principal;

        &:hover {
            background-color: #e2a181;
        }
        }

        option {
        background-color: #812a2a;
        color: #dfbdb2;
        font-size: 15px;

        &:hover {
            background-color: rgb(207, 187, 161);
        }
        }

        .button-2 {
        padding: 10px;
        margin: 2%;
        font-family: $fuente-principal;
        background-color: $color-boton;
        color: #3a1206;
        }

        .button-3 {
        padding: 10px;
        margin: 2%;
        font-family: $fuente-principal;
        background-color: #04132d;
        color: #e4d1cb;
        }
    }

    @include mobile {
        .grid {
        grid-template-columns: 1fr;
        }

        .explicacion {
        font-size: 13px;
        }

        .foto {
        width: 90%;
        height: 60%;
        margin: 1rem auto;
        }

        .subtitulo {
        font-size: 25px;
        margin: 10% auto;
        }

        form {
        padding: 20px;
        font-size: 14px;

        label,
        input,
        select {
            width: 100%;
        }

        button {
            width: 100%;
            margin-bottom: 15px;
        }
        }
    }

    @include tablet {
        .grid {
        grid-template-columns: repeat(2, 1fr);
        }

        .foto {
        width: 40vw;
        }
    }

    @include laptop {
        .foto {
        width: 30vw;
        }

        .subtitulo {
        font-size: 35px;
        }
    }

    @include desktop {
        .foto {
        width: 25vw;
        }

        .subtitulo {
        font-size: 40px;
        }
    }
    }
