@use '../bases/variables' as *;

main {
    .titulo {
        @extend %tittle;
    }

    .carousel {
        margin: 0 auto 30px auto;
        width: 100%;
        max-width: 1200px;
        padding: 5px;

        .carousel-item {
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 12px;
            display: block;
        }

        .carousel-caption {
            background-color: rgb(72, 9, 9);
            padding: 15px;
            border-radius: 20px;
            color: rgba(185, 160, 160, 0.945);
            position: static;
        }
        }
    }

    .button-primary {
        @extend .button;
    }

    @include mobile {
        .carousel {
        margin: 0 auto 20px auto;
        width: 100%;
        padding: 0;
        }

        .button {
        margin: 5% auto;
        display: block;
        }

        .carousel-indicators {
        margin-bottom: 0;
        }
    }

    @include tablet {
        .carousel {
        width: 90%;
        }

        .button {
        margin-left: 5%;
        }
    }

    @include laptop {
        .carousel {
        width: 80%;
        }

        .button {
        margin-left: 10%;
        }
    }

    @include desktop {
        .carousel {
        width: 70%;
        }

        .button {
        margin-left: 15%;
        }
    }
}
